.tweetarea{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    
    .textareaSection{
        textarea{
            border:none;
            padding: 1rem;
            resize: none;
            width: 100%;
            overflow: hidden;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            
        }

        .tweetFlexBtn{
            color: #1a91da;
            font-size: 2rem;
            padding: .40rem;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
            cursor: pointer;
            &:hover{
                background-color: #E8F5FE;
            }
        }
    }
    img{
        width: 3rem;
        border-radius: 50%;
    }
}

