@import  "../TopTen/TopTen.scss";
@import "../../styles/Sidebar/Sidebar.scss";

.whotofollow{
    @extend .toptenCard;
    padding: 1rem;
    .userList{
        list-style-type: none;
        img{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }

        span{
            color: rgba($color: #000000, $alpha: 0.5);
            font-size: .90rem;
        }

        .follow-button{
            @extend .sidebarBtn;
            border:2px solid  #1a91da;
            color: #1a91da;
            border-radius: 50px;
            padding: 0.5rem 1rem;
            font-size: .80rem;
        }

        .showMoreBtn{
            border: none;
            text-align: center;
            width: 100%;
            padding: 1rem;
        }
    }
}

